.about {
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-image: linear-gradient(180deg, rgb(143, 132, 120), rgb(39, 38, 36)); 
}

.aboutHeader {
    text-align: center;
    color: rgb(40, 224, 40);
    margin-top: 50px;
}